#!KAMAILIO

# --- AI Telephony Platform - Kamailio SIP Proxy ---
# Version: 1.0
# TODO: Fill in actual values before deploying

####### Global Parameters #######
debug=2
log_stderror=no
log_facility=LOG_LOCAL0
fork=yes
children=4

listen=udp:0.0.0.0:5060
listen=tcp:0.0.0.0:5060
listen=tls:0.0.0.0:5061

#!define WITH_MYSQL
#!define WITH_AUTH
#!define WITH_USRLOCDB

# TODO: Configure database, auth, routing as per deployment guide